In [1]:
import requests
from bs4 import BeautifulSoup
import pandas

In [2]:
z = 1
l = []
stem = 'https://cars45.com'
for page in range(1,274):
    url = "https://cars45.com/listing?price_min=&price_min=999999999"
    if z == 1:
        r = requests.get(url)
    else:
        r = requests.get('https://cars45.com/listing'+'/page'+str(page)+'?price_max=999999999&listing_id=ODp8Yi8p4uAU7Nxg')
    z = z + 1
    c = r.content
    soup = BeautifulSoup(c,'html.parser')
    all = soup.find_all('a', {'class':"car-feature"})
    for i in range(0,len(all)):
        link = all[i].get('href')
        new_url = stem+link 
        #print(new_url)
        r_2 = requests.get(new_url)
        c_2 = r_2.content
        soup = BeautifulSoup(c_2,'html.parser')
        info = soup.find('div', {'class':"general-info grid"}).find_all('div') 
        d = {}
        for i in info:
            if i.find('span').text == 'Make':
                d['Make'] = i.find('p').text
            if i.find('span').text == 'Year of manufacture':
                d['Year of manufacture'] = i.find('p').text
            if i.find('span').text == 'Condition':
                d['Condition'] = i.find('p').text
            if i.find('span').text == 'Mileage':
                d['Mileage'] = i.find('p').text
            if i.find('span').text == 'Engine Size':
                d['Engine Size'] = i.find('p').text
        extra = soup.find('div', {'class':"svg flex"}).find_all('div')
        for i in extra:
            if i.find('span').text == 'SUV':
                d['Build'] = i.find('span').text
            if i.find('span').text == 'Petrol':
                d['Fuel'] = i.find('span').text
            if i.find('span').text == 'Hybrid':
                d['Fuel'] = i.find('span').text
            if i.find('span').text == 'Electric':
                d['Fuel'] = i.find('span').text
            if i.find('span').text == 'Diesel':
                d['Fuel'] = i.find('span').text
            if i.find('span').text == 'AMT':
                d['Transmission'] = i.find('span').text
            if i.find('span').text == 'Automatic':
                d['Transmission'] = i.find('span').text
            if i.find('span').text == 'CVT':
                d['Transmission'] = i.find('span').text
            if i.find('span').text == 'Manual':
                d['Transmission'] = i.find('span').text
        d['Price'] = soup.find('div', {'class':"main-details__name"}).find('h5').text.replace('₦ ','')
        #print(d)
        l.append(d)
    print(page)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273

In [3]:
df = pandas.DataFrame(l)
df

,Make,Year of manufacture,Condition,Mileage,Engine Size,Fuel,Transmission,Price,Build
0,Toyota,2007,Nigerian Used,166418,2400,Petrol,Automatic,"3,120,000",NaN
1,Lexus,NaN,NaN,138024,NaN,NaN,Automatic,"5,834,000",NaN
2,Mercedes-Benz,2008,Nigerian Used,376807,3000,Petrol,Automatic,"3,640,000",NaN
3,Lexus,NaN,NaN,213362,NaN,NaN,Automatic,"3,594,000",NaN
4,Mercedes-Benz,NaN,NaN,106199,NaN,NaN,Automatic,"8,410,000",NaN
...,...,...,...,...,...,...,...,...,...
4090,Honda,2004,Nigerian Used,207446,3500,Petrol,Automatic,"1,125,000",NaN
4091,Toyota,2005,Nigerian Used,106914,1800,Petrol,Automatic,"2,643,750",NaN
4092,Honda,2006,Nigerian Used,247149,1800,Petrol,Automatic,"1,462,500",NaN
4093,Toyota,2007,Nigerian Used,249325,2500,Petrol,Automatic,"2,475,000",NaN
4094,Toyota,2013,Foreign Used,235184,2500,Petrol,Automatic,"6,300,000",NaN

In [4]:
df.to_csv('Nigerian_Car_Prices.csv')